{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./server"],
        "alias": {
          "/admin": "./server/admin",
          "/search": "./server/search",
          "/update": "./server/update",
          "/db": "./server/db",
          "/api": "./server/api",
          "/lib": "./server/lib"
        }
      }
    ]
  ]
}
